<header>
  <nav>
    <ul>
      <% if current_page?(root_path) || current_page?("cars") %>
        <li>main page</li>
        <li><%= link_to "Alphabetized", "/cars/alphabetized" %></li>
        <li><%= link_to "Missing image", "customers/missing image" %></li>
        <% end %>
      <li>main page</li>
      <li><%= link_to "Alphabetized", "/cars/alphabetized" %></li>
      <li><%= link_to "Missing image", "customers/missing image" %></li>
    </ul>

  </nav>
</header>